# NOTE: since a file manually parses this, make sure not to include any unnecessary spaces
# Strictly follow the pattern key=value (NO spaces).
# -------------------------------Python/Client-------------------------------
#   Local-Models
EMBEDDING_MODEL="mxbai-embed-large"
LOCAL_LLM_MODEL="qwen2.5:3b"

#   Doc's Path
DOC_PATH="./data/documents"
STORE_FILE="./data/chunk_store.json"

#   Ollama Host:
# -> [For users running everything on the same machine (without WSL)]
# OLLAMA_HOST=http://localhost:11434      
# -> [WSL users, who have ollama installed on windows, should use the IP address of their windows host here, which can be found using `ipconfig` in Command Prompt]
# OLLAMA_HOST=http://172.XX.XX.X:11434 
# -> [For users running the server in a Docker container, use the service name defined in your Docker Compose file (e.g., "ollama")]
OLLAMA_HOST=http://ollama:11434        

# ---------------------------------Overlapping--------------------------------
#   Dimensionality 
EMBEDDING_DIMS="1024"

#   Ip and port
# -> [For users running the server on the same machine]
# IP="localhost"
# -> [For users running the server in a Docker container, use the service name defined in your Docker Compose file (e.g., "cpp_server")]
IP=cpp_server
PORT="8080"

# ---------------------------------C++/Server---------------------------------
#   Internal Protocols of the server
VECDB_DATA_PATH="./data/database.vdb"
DIMENSIONS_NO_OF_DIGITS=4
ID_LENGTH_SET=32
META_DATA_LENGTH_SET=32
META_DATA_KP_PAIRS_SET=3