# NOTE: since, a file manually parses this, make sure not to include any unnecessary spaces,
#       especially follow the pattern key=value "NO spaces in between".
# -------------------------------Python/Client-------------------------------
#   Local-Models
EMBEDDING_MODEL="mxbai-embed-large"
LOCAL_LLM_MODEL="qwen2.5:3b"
#   Doc's Path
DOC_PATH="./data/documents"
STORE_FILE ="./data/chunk_store.json"
#   Ollama Host (If you have ollama installed on windows and are running program on WSL)
#   run: New-NetFirewallRule -DisplayName "Ollama WSL Allow" -Direction Inbound -LocalPort 11434 -Protocol TCP -Action Allow
#        ip route | grep default    # add the output ipv4 below as: //172.xx.xx.x:11434
OLLAMA_HOST=http://localhost::11434
# ---------------------------------Overlapping--------------------------------
#   Dimensionality 
EMBEDDING_DIMS="1024"
#   Ip and port
IP="localhost"
PORT="8080"
# ---------------------------------C++/Server---------------------------------
#   Internal Protocols of the server
VECDB_DATA_PATH="./data/database.vdb"
DIMENSIONS_NO_OF_DIGITS=4
ID_LENGTH_SET=32
META_DATA_LENGTH_SET=32
META_DATA_KP_PAIRS_SET=3