# NOTE: since a file manually parses this, make sure not to include any unnecessary spaces
# Strictly follow the pattern key=value (NO spaces).
# ------------------------------- Python Middleware -------------------------------
#   Local-Models
EMBEDDING_MODEL="mxbai-embed-large"
LOCAL_LLM_MODEL="qwen2.5:3b"


#   Ollama Host:

# -> [For native Linux, macOS, or WSL users running Ollama inside WSL]
# OLLAMA_HOST=http://localhost:11434      

# -> [For WSL users running Ollama natively on the Windows host, use the IP address of their windows host here, which can be found using `ipconfig` in Command Prompt]
# OLLAMA_HOST=http://172.18.96.1:11434 

# -> [For users running the server in a Docker container, use the service name defined in your Docker Compose file (e.g., "ollama")]
OLLAMA_HOST=http://ollama:11434        

# --------------------------------- C++ Engine ---------------------------------

#   Ip and port

# -> [For native Linux, macOS, or WSL local development]
# IP="localhost"

# -> [For users running the server in a Docker container, use the service name defined in your Docker Compose file (e.g., "cpp_server")]
IP=cpp_server

PORT="8080"

#   Database File paths
VECDB_ENTRY_DATA_PATH="services/engine/data/database_entry.vdb"
VECDB_TEXT_DATA_PATH="services/engine/data/database_text.vdb"
VECDB_INDEX_DATA_PATH="services/engine/data/database_index.vdb"
